:root {
    --black: #222222;
    --pink-bkg: #f1e4e6;
    --pink-text: #f1808f;
    --white-text: #ffffff;
    --gray-text: #9f9f9f;
    --black-text: #000000;
    --gray-product-text: #5d5d5d;
    --yellow-bkg: #F8F8F8;
    --yellow-button: #e5e5e5;
    --white-advantages-title: #fbfbfb;
    --grey-button: #e1e1e1;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__wrp-logo-form {
    display: flex;
    align-items: center;
}

.header__search {
    position: relative;
    display: none;
}

.header_search_wrp:hover .header__search,
.header_search_wrp:focus .header__search,
.header_search_wrp:active .header__search {
    display: block;
}

.header_search_wrp:hover .header__loupe,
.header_search_wrp:focus .header__loupe,
.header_search_wrp:active .header__loupe {
    display: none;
}

.header_search_wrp:hover .header__search-input,
.header_search_wrp:focus .header__search-input,
.header_search_wrp:active .header__search-input {
    outline: 2px solid var(--pink-text);
}

.header__search:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    top: 13px;
    left: 7px;
    background-image: url('../img/loupe.svg');
    background-size: 10px 10px;
}

.header__search-input {
    background: transparent;
    padding: 10px 20px;
    border: none;
    outline: 1px solid var(--black);
    color: white;
}



.header__logo {
    margin: 0 41px 0 0;
}

.header__burger {
    margin: 0 31px 0 0;
}

.header__burger-svg {
    fill: white;
}

.header__burger-svg:hover,
.header__burger-svg:active .header__burger-svg:focus {
    fill: var(--pink-text);
}

.header__person {
    margin: 0 31px 0 0;
}

.header__person-svg {
    fill: white;
}

.header__person-svg:hover,
.header__person-svg:active .header__person-svg:focus {
    fill: var(--pink-text);
}

.header__backet {
    position: relative;
}

.header__backet-svg {
    fill: white;

}

.header__backet-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    left: 19px;
    top: -19px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    position: absolute;
    color: white;
    background: var(--pink-text);
    border-radius: 50%;
}

.header__backet-svg:hover,
.header__backet-svg:active,
.header__backet-svg:focus {
    fill: var(--pink-text);
}

.header__menu {
    display: none;
}

.brand {
    display: flex;
    margin-bottom: 63px;

}

.brand__img {}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: var(--black);
    text-transform: uppercase;
    position: relative;
}

.brand__title::after {
    width: 12px;
    content: '';
    height: 100%;
    background: var(--pink-text);
    position: absolute;
    left: -32px;
    top: 0px;
}

.brand__subtitle {
    display: block;
    font-size: 32px;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--pink-text);
}

.brand__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    background-color: var(--pink-bkg);
    flex-grow: 1;

}


.sales__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sales__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.sales__item--woman {
    background-image: url('../img/sales_woman.jpg');
    background-repeat: no-repeat;
}

.sales__item--man {
    background-image: url('../img/sales_man.jpg');
    background-repeat: no-repeat;
}

.sales__item--kids {
    background-image: url('../img/sales_kids.jpg');
    background-repeat: no-repeat;
}

.sales__item--shoes {
    background-image: url('../img/sales_shoes.jpg');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 180px;
}

.sales__item-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--white-text);

    line-height: 19px;
}

.sales__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--pink-text);

}

.products {
    margin-top: 96px;
}

.products__title {
    text-align: center;
    color: var(--black);
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.products__text {
    text-align: center;
    color: var(--gray-text);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.products__list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products__item {
    justify-content: space-between;
    width: 360px;
    min-height: 420px;
    margin-bottom: 30px;
    background-color: var(--yellow-bkg);
}

.product__item-wrapper {
    position: relative;
}

.product__item-wrapper:hover .product__item-overlay,
.product__item-wrapper:hover .product__item-button,
.product__item-wrapper:active .product__item-overlay,
.product__item-wrapper:active .product__item-button,
.product__item-wrapper:focus .product__item-overlay,
.product__item-wrapper:focus .product__item-button {
    display: flex;
}

.product__item-overlay {
    display: none;
    width: 100%;
    min-height: 420px;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
}

.product__item-button {
    border-style: none;
    outline: 1px solid white;
    background: transparent;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: white;
    width: 138px;
    height: 43px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product__item-button-icon {
    margin-right: 10px;
}

.products__item-img {
    margin-bottom: 24px;
}

.products__item-title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black-text);
    margin-left: 18px;
}

.products__item-text {
    margin-left: 18px;
    margin-top: 13px;
    color: var(--gray-product-text);
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.products__item-cost {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 20px;
    color: var(--pink-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.products__button_wrap {
    margin: 48px;
    display: flex;
    justify-content: center;
}

.products__button {
    color: var(--pink-text);
    width: 211px;
    height: 47px;
    background-color: var(--white-text);
    border-color: var(--pink-text);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.products__button:hover,
.products__button:active,
.products__button:focus {
    background-color: var(--pink-text);
    color: var(--white-text);
}

.advantages {
    background-color: var(--black);
    padding-top: 100px;
    padding-bottom: 100px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 360px;
}

.advantages_item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}

.advantages__item-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: var(--white-advantages-title);
    text-align: center;
    margin-bottom: 18px;
}

.advantages__item-text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: var(--white-advantages-title);
    text-align: center;
}

.subscription {
    background: url("../img/photo subscribe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 448px;
    min-height: 448px;
}

.subscription__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 87px;
}

.subscription__discription {
    display: flex;
    width: 360px;
    flex-direction: column;
}

.subscription__item-img {
    height: 96px;
    width: 96px;
    margin-left: auto;
    margin-right: auto;
}

.subscription__item-text {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
}

.subscription__item-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    color: var(--black);
    text-transform: uppercase;
    margin-top: 63px;
    margin-bottom: 32px;
}



.subscription__item-subtitle {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--black);
    text-transform: uppercase;
}

.subscription__item-form {
    display: flex;
}

.subscription__item-input {

    height: 49px;
    width: 256px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: var(--grey-button);
    border-radius: 49px 0 0 49px;
    border-style: none;
    padding-left: 22px;
}

.subscription__item-button {
    border-style: none;
    width: 100px;
    height: 49px;
    background: var(--pink-text);
    color: var(--white-text);
    border-radius: 0 49px 49px 0;
}

.socials {
    background-color: var(--black);

}

.socials__panel {
    display: flex;
    justify-content: space-between;
}

.socials__links {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.socials__links-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: var(--white-text);
    margin-left: 7px;
}

.socials__links-icon {
    fill: var(--black-text);
}

.socials__links-item:hover,
.socials__links-item:active,
.socials__links-item:focus {
    background-color: var(--pink-text);
}

.socials__links-item:hover .socials__links-icon,
.socials__links-item:active .socials__links-icon,
.socials__links-item:focus .socials__links-icon {
    fill: var(--white-text);
}

.socials__links-link {
    align-content: center;
}

.socials__copyrigth {
    color: var(--white-advantages-title);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
}