    $black: #222222;
    $pink-bkg: #f1e4e6;
    $pink-text: #f1808f;
    $white-text: #ffffff;
    $gray-text: #9f9f9f;
    $black-text: #000000;
    $gray-product-text: #5d5d5d;
    $yellow-bkg: #F8F8F8;
    $yellow-button: #e5e5e5;
    $white-advantages-title: #fbfbfb;
    $grey-button: #e1e1e1;
    $arrivals: #f8f3f4;
    $arivals-nav: #636363;
    $catalog-filter: #6f6e6e;
    $catalog-counter: #ebebeb;
    $cart-checkuot-bg: #f5f3f3;
    $cart-checkuot-total: #4a4a4a;
    $cart-buttons-border: #a4a4a4;