    $black: #222222;
    $pink-bkg: #f1e4e6;
    $pink-text: #f1808f;
    $white-text: #ffffff;
    $gray-text: #9f9f9f;
    $black-text: #000000;
    $gray-product-text: #5d5d5d;
    $yellow-bkg: #F8F8F8;
    $yellow-button: #e5e5e5;
    $white-advantages-title: #fbfbfb;
    $grey-button: #e1e1e1;