.advantages {
    background-color: $black;
    padding-top: 100px;
    padding-bottom: 100px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 360px;
    }

    &__item-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 40px;
        height: 40px;
    }

    &__item-title {
        @include font(20px, 24px, 400);
        color: $white-advantages-title;
        text-align: center;
        margin-bottom: 18px;
    }

    &__item-text {
        @include font(14px, 17px, 300);
        color: $white-advantages-title;
        text-align: center;
    }

}

@media (max-width: 769px) {
    .advantages {
        padding-top: 40px;
        padding-bottom: 40px;

        &__list {
            flex-direction: column;
            justify-content: center;
        }

        &__item {
            margin: 0 auto;
        }
    }
}