.arrivals {
    background-color: $arrivals;
    height: 148px;
    @include flex-center;
    justify-content: space-between;

    &__title {
        @include font(24px, 29px);
        text-transform: uppercase;
        color: $pink-text;
    }

    &__nav {
        text-decoration: none;
        @include font(14px, 17px, 700);
        text-transform: uppercase;
    }

    &__menu {
        display: flex;
    }

    &__menu-link {
        text-decoration: none;
        color: $arivals-nav;
    }

    &__menu-pink {
        color: $pink-text;
    }

    &__menu-link:hover {
        color: black;
        text-decoration: underline;
    }
}

@media (max-width: 376px) {
    .arrivals {
        flex-direction: column;

        &__title {
            margin-top: 28px;
        }

        &__nav {
            margin-bottom: 28px;
        }
    }
}