.brand {
    display: flex;

    &__title {
        @include font(48px, 58px, 900);
        color: $black;
        text-transform: uppercase;
        position: relative;
    }

    &__img {
        object-fit: cover;
    }

    &__title::after {
        width: 12px;
        content: '';
        height: 100%;
        background: $pink-text;
        position: absolute;
        left: -32px;
        top: 0px;
    }

    &__subtitle {
        display: block;
        @include font(32px, 38px, 400);
    }

    &__subtitle-pink {
        color: $pink-text;
    }

    &__title-wrp {
        display: flex;
        align-items: center;
        padding: 0 0 0 92px;
        background-color: $pink-bkg;
        flex-grow: 1;

    }
}

@media (max-width: 769px) {
    .brand {


        &__title {
            @include font(44px, 53px, 900);
        }

        &__subtitle {
            @include font(24px, 29px, 700);
        }
    }
}

@media (max-width: 560px) {
    .brand {
        &__title {
            @include font(38px, 46px, 900);
        }

        &__subtitle {
            @include font(20px, 24px, 700);
        }
    }
}

@media (max-width: 455px) {
    .brand {
        &__title {
            @include font(30px, 46px, 900);
        }

        &__subtitle {
            @include font(16px, 24px, 700);
        }
    }
}

@media (max-width: 376px) {
    .brand {
        height: 363px;

        &__title {
            @include font(38px, 46px, 900);
        }

        &__subtitle {
            @include font(20px, 24px, 700);
        }

        &__img {
            display: none;
        }
    }
}