.sales {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: 360px;
        @include flex-center;
        flex-direction: column;
        min-height: 260px;
        margin-top: 30px;
        text-transform: uppercase;
    }

    &__item--woman {
        background-image: url('../img/sales_woman.jpg');
        background-repeat: no-repeat;
    }

    &__item--man {
        background-image: url('../img/sales_man.jpg');
        background-repeat: no-repeat;
    }

    &__item--kids {
        background-image: url('../img/sales_kids.jpg');
        background-repeat: no-repeat;
    }

    &__item--shoes {
        background-image: url('../img/sales_shoes.jpg');
        background-repeat: no-repeat;
        width: 100%;
        min-height: 180px;
    }

    &__item-text {
        @include font(16px, 19px, 400);
        color: $white-text;
    }

    &__item-title {
        @include font(24px, 29px, 700);
        color: $pink-text;

    }
}